body{
    margin: 0px auto 0px auto;
    text-align: center;
    font-family: 'Poppins'
}

.profile-img{
    width: 30%;
    height: 30%;
    margin: 2rem auto 3rem auto;
}

h1{
    color: #66bfbf;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script';
    font-size: 5rem;
}

h2{
    color: #66bfbf;
    font-weight: normal;
    font-size: 2.5rem;
}

h3{
    color: #66bfbf;
    font-weight: normal;
    font-size: 1.5rem;
}

hr{
    border : dotted 6px #d3d3d3;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud-img{
    position: absolute;
    top: 15%;
    left: 65%;
}

.bottom-cloud-img{
    position: absolute;
    top: 50%;
}

.skill-img-fashion{
    height: 30%;
    width: 30%;
    float: left;
    margin-right: 30px;
}

.skill-img-xd{
    height: 30%;
    width: 30%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

#intro{
    background-color: #edffec;
}

.top-container{
    padding-top: 140px;
    position: relative;
}

.middle-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.bottom-container{
    background-color: #66bfbf;
}

.fashion-text{
    text-decoration: underline;
}

.footer-link{
    margin-top: 30px;
    display: inline-block;
    width: 15rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #488B8B
}

.copyright-text{
     color: white;
     padding-top: 50px;
     padding-bottom: 50px;
     font-size: 0.75rem;
     margin: 0;
 }