body{
    margin: 0px auto 0px auto;
    font-family: 'Poppins'
}

h1{
    color: #66bfbf;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script';
    font-size: 5rem;
}

h2{
    color: #66bfbf;
    font-weight: normal;
    font-size: 2.5rem;
}

h3{
    color: #66bfbf;
    font-weight: normal;
    font-size: 1.5rem;
}

hr{
    border : dotted 6px #d3d3d3;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

#intro{
    padding-bottom: 150px;
}

.intro-text{
    margin: auto;
}

.fashion-text{
    font-weight: bold;
}

.intro-img{
    position: absolute;
    z-index: 0;
}

/*If the max-width is 991px, ie it can be lower)*/
@media (max-width: 991px){

    #intro{
        text-align: center;
        padding-bottom: 10px;
    }

    .intro-img{
        position: relative;
        text-align: center;
    }
}

#about-me{
    padding: 3% 10%;
    position: relative;
    background-color: white;
    z-index: 1;
}

.profile{
    text-align: center;
}

.profile-img{
    width: 30%;
    height: 30%;
    margin: 2rem auto 3rem auto;
}

.skills{
    text-align: center;
}

.skill-img{
    width: 50%;
    height: auto;
    float: top;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slideshow-img{
    margin-top: 40px;
    margin-bottom: 40px;
}

#intro{
    background-color: #edffec;
}

.top-container{
    padding-top: 140px;
    position: relative;
}

.middle-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

#end-info{
    text-align: center;
}

.bottom-container{
    margin-top: 40px;
    padding-top: 30px;
    background-color: #66bfbf;
}

.footlink{
    text-decoration :none;
    margin: 0px 20px 0px;
    color:white;
    font-size: 1.4rem;
}

.footlink:hover{
    color: gray;
}

.copyright-text{
     color: white;
     padding-top: 20px;
     padding-bottom: 40px;
     font-size: 0.75rem;
     margin: 0;
 }